.PostTitle {
    background-color: var(--mainWhite);
    border: solid 2px var(--secondColor); 
    outline: none;
    height: 3rem;
    width: 20rem;
    font-size: 16px;
    padding: 0;
    margin-bottom: 2rem; /* 텍스트창 간 간격 추가 */
}

.PostContent {
    background-color: var(--mainWhite);
    border: solid 2px var(--secondColor); 
    outline: none;
    height: 3rem;
    width: 20rem;
    font-size: 16px;
    padding: 0;
    margin-bottom: 2rem; /* 텍스트창 간 간격 추가 */
}